<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>ホットペーパーテスト<span class="line">★</span>だよ</h1>
    <nav>
    </nav>
</header>
<main>
    <section>
        <h2>サイトの一覧取得</h2>
        <ul>
            <li><a href="/list">list</a></li>
        </ul>
    </section>
    <section>
        <h2>検索画面にするつもり</h2>
        <ul>
            <li><a href="/search">search</a></li>
        </ul>
    </section>
</main>
<footer>[Template] <a href=" https://ninawas.me" target="_blank">Nina</a></footer>
</body>
</html>
